body {
    line-height: 25px;
    font-family: 'Tahoma', sans-serif;
}

#content {
    max-width: 80ch;
    margin-left: 5%;
}

h1,h2 {
    margin-top: 50px;
}

h2 {
    margin-left: -5%;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h3,h4,h5 {
    margin-top: 30px;
}

#postamble {
    margin-top: 100px;
    margin-left: 5%;
}

#postamble p, #preamble p {
    line-height: normal;
    color: gray;
}

.figure {
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.figure p:nth-child(2) {
    text-align: left;
    font-style: italic;
    font-size: 0.9em;
    max-width: 650px;
    padding-left: 1em;
}

blockquote {
    font-style: italic;
    border-left: 2px solid gray;
    padding-left: 20px;
}

p.verse {   
    font-size: 0.9em;
    font-style: italic;
    color: #49516c;
    margin-left: 0%;
}

.fundoc {

}

.fundoc_header {
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.fundoc_name {
    font-family: "Courier";
    border-bottom: 2px solid gray;
}

.fundoc_arglist {
    font-family: "Courier";
}

.fundoc_arglist::before {
    content: "[";
}

.fundoc_arglist::after {
    content: "]";
}

.fundoc_doc {
    display: block;
    margin-left: 20px;
}

@media only screen and (min-width: 1200px) {
    p.verse {
	float: right;
	position: absolute;
	width: 200px;
	margin: auto;
	left: 103ch;
    }
}
